/* Type Selectors ------------------------------ */

body {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #603e21 20%, #ffbc85, #603e21 95%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffe4a3;
}

h1 {
    display: inline;
    text-align: center;
    font-size: 2em;
    text-shadow: 5px -5px 5px #241401;
}

h2 {
    font-size: 1em;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

img {
    width: 100px;
}

h3 {
    display:inline;
    width: 50%;
    padding: 2px 5px 2px 5px;;
    border-radius: 15px;
    text-align: center;
}



li img {
    position: relative;
    top: 6px;
}

span {
    display: inline-block;
    padding: 2px;
    border: solid thin #f8d6ba;
    border-radius: 5px;
    font-size: .6em;
}

a {
    color: #cc9263;
}

/* Class Selectors --------------------------- */

.grid-box {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 2%;
    row-gap: 1%;
    justify-items: center;
}

.first-grid-position {
    grid-column: 1;
}
.second-grid-position {
    grid-column: 2;
}
.third-grid-position {
    grid-column: 1;
}
.fourth-grid-position {
    grid-column: 2;
}
.fifth-grid-position {
    grid-column: 1;
}
.sixth-grid-position {
    grid-column: 2;
}
.seventh-grid-position {
    grid-column: 1;
}
.eighth-grid-position {
    grid-column: 2;
}

.dice {
    width: fit-content;
    margin: 5px 15px 5px 15px;
    border: thick solid #241401;
    border-radius: 15px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.inert-player {
    width: 90%;
    padding: 2px;
    margin: 15px 15px 15px 15px;
    background-color: #603e21;
    border: medium solid #241401;
    border-radius: 15px;
    color: #cc9263;
}

.active-player {
    width: 90%;
    padding: 2px;
    margin: 15px 15px 15px 15px;
    background-color: #603e21;
    border: medium solid #ffe4a3;
    border-radius: 15px;
}

.highlight {
    width: fit-content;
    margin: 5px 15px 5px 15px;
    border: thick solid #ffe4a3;
    border-radius: 15px;
}

.button {
    width: 90%;
    border: medium solid #ffbc85;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin: 5px 10px 5px 10px; 
    background: #603e21;
    color: #ffbc85;
    font-size: 20px;
    font-weight: bold;
}

.small-button {
    width: 40px;
    height: 40px;
    background: #603e21;
    border-radius: 50%;
    font-size: 2em;
    color: #ffbc85;
}

.background {
    padding-top: 5%;
    font-weight: bolder;
    color: #cc9263;
    opacity: 90%;
}

.pressure-mode {
    background: linear-gradient(#9725a5, #fd8ec5);
}

.pressure-mode .highlight {
    border: thick solid #f8cce2;
}

.pressure-mode h1 {
    color: #fd8ec5;
    text-shadow: 5px -5px 5px #420690;
}

.pressure-mode .inert-player {
    background-color: #ff69b4;
    border: medium solid #420690;
    color: #420690;
}

.pressure-mode .active-player {
    background-color: #ff69b4;
    border: medium solid #f8cce2;
}

.pressure-mode .button {
    background: #ff69b4;
    border: medium solid #420690;
    color: #420690;
}

.pressure-mode .small-button{
    background: #ff69b4;
    color: #fd8ec5;
}

.pressure-mode .background {
    color: #f8cce2;
}

.pressure-mode a {
    color: #f8cce2;
}

.pressure-mode #score-input {
    background: #420690;
    color: #ff69b4; 
}

.pressure-mode #rule-box {
    background: radial-gradient( #ff69b4, #9725a5);
    border: thick solid #420690;
    color: #420690;
}

.pressure-mode a:link {
    color: #fd8ec5 ;
}

.pressure-mode a:hover {
    color: #420690;
}

.pressure-mode .button:hover {
    background: #420690;
    color: #ff69b4;
}

.pressure-mode .dice:hover {
    border: thick solid #fd8ec5;
    transform: scale(1.1);
    border-radius: 15px;
}

.pressure-mode .highlight:hover {
    border: thick solid #f8cce2;
    transform: scale(1.1);
    border-radius: 15px;
}

.pressure-mode .inert-player:nth-of-type(2n) {
    background-color: #bc2dcf;
    color: #420690;
}

/*  Id Selectors ---------------------------------- */

#player-score-container {
    min-width: 250px;
    padding: 5%;
    margin: 1%;
    margin-bottom: 10%;
    row-gap: 2%;
}

#score-input {
    align-content: center;
    background: #ffe4a3;
    border-radius: 15px;
    line-height: 2.5em;
    font-weight: bolder;
    font-size: .8em;
    color: #603e21; 
}

#display-box {
    text-align: center;
}

#rule-box {
    min-width: 300px;
    padding: 1%;
    background: #cc9263;
    border: thick solid #ffe4a3;
    border-radius: 15px;
    font-weight: bolder;
    color: #ffe4a3;
}


/* Pseudo-class Selectors ------------------------------- */

a:link {
    color: #ffbc85 ;
}

a:hover {
    color: #ffe4a3;
}

.button:hover {
    background: #ffe4a3;
    color: #603e21;
}

.dice:hover {
    border: thick solid #ffbc85;
    border-radius: 15px;
    transform: scale(1.1);
}

.highlight:hover {
    border: thick solid #ffe4a3;
    border-radius: 15px;
    transform: scale(1.1);
}

.inert-player:nth-of-type(2n) {
    background-color: #cc9263;
    color: #ffe4a3;
}

/* Media Queries -------------------------------------- */

@media (max-width: 310px) {
    h1 {
        display: none;
    }

    .grid-box {
        display: block;
        margin: 5px;
    }
    
    .button {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 525px) {

    body {
        margin: 5%;
    }
    
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    header {
        text-align: center
    }

    article {
        flex-basis: auto ;
        min-width: 150px;
    }

    #rule-box {
        order: 1;
        padding: 2%;
        margin: 2%;
        background-color: #cc9263;
        border: thick solid #241401;
        border-radius: 15px;
        font-size: .8em;
    }
}

@media (min-width: 1000px) {
    body {
        margin: 5%;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size :.8em;
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2%;
        margin: 5%;
    }

    article {
        flex-basis: auto ;
        min-width: 300px;
        max-height: fit-content;
    }

    .button {
        width: 80%;
        font-size: .9em;
    }

    .small-button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 15px;
        
    }

    .grid-box {
        display: grid;
        grid-template-columns:  155px 155px 155px;
        column-gap: 1%;
        row-gap: 1%;
        justify-self: left;
        justify-items: center;
        margin: 0%;
    }
    
    .first-grid-position {
        grid-column: 1;
    }
    .second-grid-position {
        grid-column: 2;
    }
    .third-grid-position {
        grid-column: 3;
    }
    .fourth-grid-position {
        grid-column: 1;
    }
    .fifth-grid-position {
        grid-column: 2;
    }
    .sixth-grid-position {
        grid-column: 3;
    }
    .seventh-grid-position {
        grid-column: 1;
    }
    .eighth-grid-position {
        grid-column: 3;
    }

    #player-score-container {
        row-gap: 1%;
        font-size: 1em;
        margin: 2%;
    }
    #rule-box {
        display: flex;
        padding: 2%;
        margin: 2%;
        order: 1;
        background-color: #cc9263;
        border: thick solid #241401;
        border-radius: 15px;
        font-size: .9em;
    }

    .background {
        padding-top: 1%;
        margin-top: 0%;
        opacity: 85%;
        color: #cc9263;
        font-weight: bolder;
    }
}

@media (min-width: 1650px) {
    main {
        flex-direction: row-reverse;
        margin: 0%;
    }

    article {
        order: 2;
    }

    .grid-box {
        max-width: 500px;
        margin: 5%;
    }

    #rule-box {
        max-width: 600px;
        order: 1;
        margin: 2%
    }

    #player-score-container {
        max-width: 500px;
        
    }
}

/* Color Pallet --------------------------------------- */

.food {
    color: #241401;	
    color: #2d1b08;
    color: #3c220c;	
    color: #4f3017;	
    color: #603e21;	
    color: #ffbc85;
    color: #f8d6ba;
}