
/* Type Selectors ------------------------------ */

html {
    background: linear-gradient(to bottom, #603e21 20%, #ffbc85, #603e21 95%);
    /* opacity: 95%; */
} 


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffe4a3;
    
    box-sizing: border-box;
}

h1 {
    display: inline;
    text-align: center;
    font-size: 2em;
    text-shadow: 5px -5px 5px #241401;
}

h3 {
    display:inline;
    width: 50%;
    
    text-align: center;
    padding: 2px 5px 2px 5px;;
    border-radius: 15px;
}

h5 {
    display: inline-block;
    position: relative;
    bottom: 10px;
    
    border: solid thin #f8d6ba;
    padding: 5px;
    border-radius: 5px;
    
}

article {
    padding: 2%;

}


/* ID Selectors ----------------------------- */




/* Class Selectors --------------------------- */

.container {
    
    display: grid;
    grid-template-columns: auto 155px 155px auto;
    grid-template-rows: 155px 155px 155px 155px;
    column-gap: 5%;
    row-gap: 3%;
    justify-items: center;
    
    
}

.item-a {
    align-self: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
}

.item-b {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
}

.item-c {
    align-self: center;
    grid-column: 2;
    grid-row: 2;
}

.item-d {
    align-self: center;
    grid-column: 3;
    grid-row: 2;
}
.item-e {
    align-self: center;
    grid-column: 2;
    grid-row: 3;
}

.item-f {
    align-self: center;
    grid-column: 3;
    grid-row: 3;
}

.item-g {
    align-self: start;
    grid-column: 2;
    grid-row: 4;
}

.item-h {
    /* background: #603e21;
    border: medium solid #ffbc85;
    border-radius: 15px;
    color:  #ffbc85;
    padding: 2%;
    margin: 2%;
    width: 100%;
    height: 60%; */
    
    align-self: start;
    grid-column: 3;
    grid-row: 4;
}

.dice {
    
    width: fit-content;
    margin: 15px 15px 15px 15px;
    border: thick solid #241401;
    border-radius: 15px;
}

.inert {
    
    width: 90%;
    padding: 2px;
    margin: 15px 15px 15px 15px;
    background-color: #603e21;
    border: medium solid #241401;
    border-radius: 15px;
}

.active {

    width: 90%;
    padding: 2px;
    margin: 15px 15px 15px 15px;
    background-color: #603e21;
    border: medium solid #ffe4a3;
    border-radius: 15px;
}

.highlight {

    width: fit-content;
    margin: 15px 15px 15px 15px;
    border: thick solid #ffe4a3;
    border-radius: 15px;
}

.btn {
    background: #603e21;
    width: 90%;
    height: 50%;
    color: #ffbc85;
    font-size: 20px;
    font-weight: bold;	
    border: medium solid #ffbc85;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin: 5px 10px 5px 10px;      
}

.smallbtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* line-height: 150%; */
    font-size: 30px;
    color: #ffbc85;
    background: #603e21;
}

.background {
    /* z-index: -1; */
    padding-top: 5%;
    opacity: 90%;
    color: #cc9263;
    font-weight: bolder;
}

/* --------- Id Selectors ---------------------------------- */

#second-container {
    padding: 5%;
    margin: 1%;
    margin-bottom: 10%;
    row-gap: 2%;
}

#score-input {
    line-height: 2.5em;
    border-radius: 15px;
    align-content: center;
    background: #ffe4a3;
    font-weight: bolder;
    font-size: .8em;
    color: #603e21; 
}

#display-box {
    text-align: center;
}

/* ---------- Pseudo-class Selectors ------------------------------- */


.btn:hover {
    background: #ffe4a3;
    color: #603e21;
}

.dice:hover {
    border: thick solid #ffbc85;
    transform: scale(1.1);
    border-radius: 15px;
}

.highlight:hover {
    border: thick solid #ffe4a3;
    transform: scale(1.1);
    border-radius: 15px;
}

.inert:nth-of-type(3n) {
    color: #603e21;
    background-color: #cc9263;
    
}

.inert:nth-of-type(2n) {
    background-color: #cc9263;
    color: #ffe4a3;
}

/* Media Queries -------------------------------------- */

@media (max-width: 310px) {
    
    h1 {
        display: none;
    }

    .container {
        display: block;
        margin: 5px;
    }
    
    .btn {
        margin-left: 0;
        margin-right: 0;
    }
}



@media (min-width: 525px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    header {
        text-align: center
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
    }

    article {
        flex-basis: auto ;
        min-width: 150px;
    }
    
    .to-top {
        display: none;
    }

    
}

@media (min-width: 1000px) {

    h1 {
        font-size: 3em;
    }

    article {
        flex-basis: auto ;
        min-width: 400px;
    }

    .container {
        /* display:flex;
        flex-wrap: wrap;
        flex-direction: row; */
        
        display: grid;
        grid-template-columns: auto 155px 155px 155px auto;
        grid-template-rows: auto 155px 155px 155px auto;
        column-gap: 7%;
        row-gap: 10%;
        justify-items: center;
        margin: 0%;
        
    }
    
    .item-a {
        align-self: center;
        grid-column: 2;
        grid-row: 2;
    }
    
    .item-b {
        align-self: center;
        grid-column: 3;
        grid-row: 2;
    }
    
    .item-c {
        align-self: center;
        grid-column: 4;
        grid-row: 2;
    }
    
    .item-d {
        align-self: center;
        grid-column: 2;
        grid-row: 3;
    }
    .item-e {
        align-self: center;
        grid-column: 3;
        grid-row: 3;
    }
    
    .item-f {
        align-self: center;
        grid-column: 4;
        grid-row: 3;
    }
    
    .item-g {
        align-items: center;
        grid-column: 2;
        grid-row: 4;
    }

    .item-h {
        align-self: center;
        grid-column: 4;
        grid-row: 4;
    }

    #second-container {
        padding-top: 5%;
        margin: 0% 10% 10% 15%;

        row-gap: 2%;
    }

    .background {
        /* z-index: -1; */
        padding-top: 1%;
        margin-top: 2%;
        opacity: 90%;
        color: #cc9263;
        font-weight: bolder;
    }

}



/* Color Pallet --------------------------------------- */

.food {
    color: #241401;	
    color: #2d1b08;
    color: #3c220c;	
    color: #4f3017;	
    color: #603e21;	
    color: #ffbc85;
    color: #f8d6ba;
}